<div class="container">
  <h1>This is our events page</h1>

  <% if current_user %>
    <%= link_to events_path do %>
    <button class="border-0 bg-info text-light px-3 py-2 rounded mr-2">Show my events</button>
    <% end %>

    <h1 class="mt-5">All Events</h1>
    <div class="d-flex flex-wrap">
      <%= render partial: 'event_card' %>
    </div>
  <% end %>

</div>
