<div class="container">
  <h1>Welcome Home</h1>
  <% if user_signed_in? %>
    <%= link_to events_path do %>
    <button class="border-0 bg-info text-light px-3 py-2 rounded mr-2">Show my events</button>
    <% end %>
  <% end %>
</div>
