<div class="container">
  <h1>This is our events page</h1>

  <% if current_user %>
    <%= link_to new_event_path do %>
    <button class="border-0 bg-info text-light px-3 py-2 rounded mr-2">Create event</button>
    <% end %>

    <%= link_to current_user do %>
    <button class="border-0 bg-info text-light px-3 py-2 rounded mr-2">Events i am attending</button>
    <% end %>


    <h1 class="mt-5">All Events</h1>
    <div class="">
      <h3>Upcoming events</h3>
      <%= render partial: 'upcoming_event_card' %>
      <h3>Past Events</h3>
      <%= render partial: 'past_event_card' %>
    </div>
  <% end %>

</div>
