<div class="container">
  <div class="bg-info p-5 mt-3 mb-3">
    <h1>All Events</h1>
    <% if @upcoming.any? %>
      <h2>Upcoming Events</h2>
      <% @upcoming.each do |event| %>
        <%= render partial: 'event_card',:locals => { :event => event } %>
      <% end %>
    <% end %>

    <% if @past.any? %>
      <h2>Past Events</h2>
      <% @past.each do |event| %>
        <%= render partial: 'event_card',:locals => { :event => event } %>
      <% end %>
    <% end %>
  </div>
</div>
